body {
  background-color: #c941e4;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 40px;
}

.contenedor {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

h2 {
  color: #d63384;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.nivel {
  background: #fff0fa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-top: 30px;
}

.contenido {
  display: none;
  margin-top: 20px;
}

.foto {
  margin-top: 15px;
  height: 200px;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
}

audio {
  display: block;
  margin: 20px auto;
}
